<div>
  <%= flash[:notice] %>
</div>

 <h3>Title:</h3><%= @book.title %>

  <h3>Body:</h3><%= @book.body %>

<p>
<td><%= link_to 'Edit', edit_book_path(@book.id) %></td> |
<td><%= link_to 'Back', "/books" %></td>
</p>